.card0{margin-bottom: 20px}
.card20{margin-bottom: 5px}

.num {
    display: none;
}
.paginator {
    line-height: 150%;
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
}
.paginator > span {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.paginator_active {
    color: red;
}